body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container{
    display: flex;
    width: 1200px;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

#middle{
    display: flex;
    justify-content: center;
}

#header{
    padding: 20px 100px;
}

#top-content{
    padding: 50px;
}

#mid-content{
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.awesome-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 400px;
}

#isi{
    display: flex;
    flex-wrap: wrap;
    color: lightgray;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

.title{
    font-size: 30px;
    color:white;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

a{
    text-decoration-line: none;
    color:lightgray;
}

button{
    width: fit-content;
    background-color: #3882f6;
    box-shadow: #1a2434;
}

.random{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.box{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
}