body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.bg-up{
    display: flex;
    justify-content: center;
    background-color: #1a2434;
}

.header{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    height: auto;
    padding: 20px 100px;
    align-items: center;
}

.top-content{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    height: auto;
    padding: 50px;
    align-items: center;
}

.awesome-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.isi{
    color: lightgray;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

.title{
    font-size: 30px;
    color:white;
    font-weight: 600;
}

a{
    text-decoration-line: none;
    color:lightgray;
}

button{
    width: fit-content;
    background-color: #3882f6;
    box-shadow: #1a2434;
}

#information-header{
    color: black;    
}

.mid-content{

}